body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
    color: white;
    background-color: darkblue;
    height: 80px;
    margin:0 30px;
    padding: 20px;
}

.arr{
    text-align: center;
    height: 50px;
    margin-top: 30px;
    width: 70%;
    border: 2px solid black;
}
